body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 2000px;
}
.okno {
    background-color: antiquewhite;
    text-align: center;
    position: fixed;
    left: 25%;
    margin: auto;
    width: 50%;
    border: 2px solid grey;
    padding: 10px;
    flex-direction: column;
}
.gora, .glowny {
    width: auto;
    border: 0px;
    padding: 0px;
    display: block;
}
.lewa, .prawa {
    background-color: antiquewhite;
    width: 20%;
    height: fit-content;
    border: 2px solid grey;
}
.tlo {
    display: flex;
    justify-content: space-between;
}
